<a href="https://colab.research.google.com/github/lavillegas/Python_ML_UdeA/blob/main/sesion4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p><img alt="Colaboratory logo" height="140px" src="https://upload.wikimedia.org/wikipedia/commons/archive/f/fb/20161010213812%21Escudo-UdeA.svg" align="left" hspace="10px" vspace="0px"></p>

# **Diplomado de Análisis de datos y Machine Learning en Python**


El presente diplomado hace parte del centro de Big Data de la facultad de ciencias exactas y naturales (FCEN) de la Universidad de Antioquia.

## **Sesión 4**

## **Contenido**
  
- <a href="#est"> Estructuras de datos</a><br>
  - <a href="#lis"> Listas</a><br>
    - <a href="#ind"> Indexación y segmentación</a><br>
    - <a href="#lpc"> Listas por comprensión</a><br>
  - <a href="#tup"> Tuplas</a><br>
  - <a href="#dic"> Diccionarios</a><br>

<p><a name="est"></a></p>

# **Estructuras de datos**


Hemos visto los tipos de variables simples de Python: `int`, `float` , `bool`, `str` y `None`. Adicionalmente, Python tiene varios tipos compuestos, que actúan como contenedores para otros tipos. Estos tipos compuestos son: Listas, tuplas y diccionarios. Vamos a estudiar cada una de estas estructuras:

<p><a name="lis"></a></p>

## **Listas**

Las listas son un tipo básico de colección de datos *ordenados* y *mutables* en Python. Cuando decimos que son ordenados queremos decir que para este objeto se tiene una noción de posición para sus elementos, que ya veremos en la sección de *indexación*. Como ya hemos mencionado, la *mutabilidad* hace referencia a que podemos modificar el objeto. 

Las listas se pueden definir con valores separados por comas entre corchetes

In [ ]:
l1 = [1, 5, 4, 3, 2]
l2 = [6, 9, 7, 8, 0]
l3 = list()

for i in range(len(l1)):
  l3.append(l1[i] + l2[i])

print(l3)

[7, 14, 11, 11, 2]

 



Podemos obtener la longitud o número de elementos de la lista con la función propia de Python `len`:

In [ ]:
len(l3)

5

In [ ]:
nombre = "Thomas"
len(nombre)

6

Podemos obtener la suma de los elementos, el valor máximo y mínimo de la lista con las funciones de agregación `sum`, `max` y `min`, respectivamente:

In [ ]:
print(sum(l1), max(l2), min(l3))

15 9 2

Podemos ordenar objetos extensos (ordenados) con la **función** `sorted`

In [ ]:
print(sorted(l1))
print(l1)

[1, 2, 3, 4, 5]
[1, 5, 4, 3, 2]

Veamos algunos métodos asociados con este objeto.
En primera instancia tenemos el método `sort()`, este es un método IN PLACE

In [ ]:
l1.sort()
print(l1)

[1, 2, 3, 4, 5]

Podemos pasarle como argumento al método `sort(reverse =True)` para obtener la lista ordenada de menor a mayor.

In [ ]:
l1.sort(reverse= True)
print(l1)

[5, 4, 3, 2, 1]

Con el método `append()` podemos agregar un elemento al final de la lista

In [ ]:
l1.append(100)
print(l1)

[5, 4, 3, 2, 1, 100]

O hacerlo en general con `insert()` pasándole un argumento para que lo inserte al inicio de la lista o si le paso dos argumentos, entonces el primero será la posición a insertar el elemento y el segudo será el elemento.

In [ ]:
l1.insert(0, 100)
print(l1)

[100, 5, 4, 3, 2, 1, 100]

`remove(x)` puede eliminar un elemento `x` de la lista.

In [ ]:
l1.remove(100)
print(l1)

[5, 4, 3, 2, 1, 100]

In [ ]:
l1.insert(0, 100)
print(l1)

[100, 5, 4, 3, 2, 1, 100]

`index(x)` nos devuelve la posición de el elemento `x` en la lista

In [ ]:
l1.index(100)

0

`count(x)` nos permite contar las veces que está el elemento `x` en la lista

In [ ]:
l1.count(100)

2

O finalmente eliminar un elemento en la posición `i` con `pop(i)`

In [ ]:
l1.pop(0)

100

In [ ]:
print(l1)

[5, 4, 3, 2, 1, 100]

Adicionalmente, hay más métodos de lista incorporados; están bien cubiertos en la [documentación](https://docs.python.org/3/tutorial/datastructures.html) en línea de Python.

Una de las características de los objetos compuestos de Python es que pueden contener objetos de cualquier tipo, o incluso una combinación de tipos. Por ejemplo:

In [ ]:
lista = [None, 1, 2.0, 3+0j, "4", [5, 6]]

In [ ]:
len(lista)

6

In [ ]:
lista[5].pop(1)

6

In [ ]:
lista

[None, 1, 2.0, (3+0j), '4', [5]]

In [ ]:
for elemento in lista:
  print(type(elemento))

print(type(lista))

<class 'NoneType'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'list'>

Este tipo de flexibilidad es una pieza esencial de lo que hace que el código de Python sea relativamente rápido y fácil de escribir. Sin embargo, como veremos, esta flexibilidad tiene su "punto bajo": nos costará tiempo de cómputo.

<p><a name="ind"></a></p>

### **Indexación y segmentación**

Python nos proporciona acceso a los elementos de la lista a través de la indexación de elementos individuales y la segmentación de elementos múltiples. Como veremos, ambos están indicados por una sintaxis de corchetes. 

**Indexación:** 

Definamos una lista con los primeros cuatro números pares:

cuyos índices se ilustran en la siguiente figura:

![](https://i.imgur.com/Bt04CcC.png)

Podemos acceder a un elemento de la lista indicando el índice correspondiente a este mediante corchetes:

In [ ]:
l_ej = [2, 4, 6, 8]

print(l_ej[0])
print(l_ej[1])
print(l_ej[2])
print(l_ej[3])

2
4
6
8

In [ ]:
for i in range(0,4):
  print(l_ej[i])

2
4
6
8

In [ ]:
for i in range(len(l_ej)):
  print(l_ej[i])

2
4
6
8

Note que en Python, el primero elemento de la lista corresponde a la posición `0`, y no a la posición `1`, que corresponde al segundo elemento.

Alternativamente podemos acceder a los elementos de la lista en el orden opuesto con números negativos, comenzando desde `-1`:

In [ ]:
print(l_ej[-1])
print(l_ej[-2])
print(l_ej[-3])
print(l_ej[-4])

8
6
4
2

**Nota**: *Este esquema de indexación aplica también a las cadenas de caracteres.*

In [ ]:
print(nombre)

print(nombre[0],nombre[1])

Thomas
T h

**Segmentación**:

Si la indexación es un medio para obtener un único valor de la lista, la *segmentación* es un medio para acceder a múltiples valores de las listas (o cadenas). La sintáxis para la segmentación es de la forma

> 

    lista[inicio:final:paso]

en donde se extraen los elementos de la lista entre la posiciones `inicio` (se incluye) y `final` (no se incluye), con cierto `paso`:

In [ ]:
l_ej = [2, 4, 6, 8, 10, 12, 14, 16]

print(l_ej[3: 6])

[8, 10, 12]

Si omitimos el primer índice, Python lo toma como 0, por lo que podemos escribir de manera equivalente:

In [ ]:
print(l_ej[0: 6])
print(l_ej[ : 6])

[2, 4, 6, 8, 10, 12]
[2, 4, 6, 8, 10, 12]

De forma análoga, si no especificamos el final, Python realiza la segmentación hasta el último elemento de la lista:

In [ ]:
print(l_ej[4: len(l_ej)])
print(l_ej[4: ])

[10, 12, 14, 16]
[10, 12, 14, 16]

También es posible especificar un tercer número entero que represente el tamaño del paso:

In [ ]:
print(l_ej[1: 6:2])

[4, 8, 12]

Ahora, si pasamos el paso como un número negativo, el inicio y el final de la segmentación se intercambian:

In [ ]:
print(l_ej[5: 0: -2])

[12, 8, 4]

Como mencionamos, las listas son objetos mutables. Podemos utilizar tanto la indexación como la segmentación para modificar elementos de una lista:

In [ ]:
l_ej[0] = 100
print(l_ej)

[100, 4, 6, 8, 10, 12, 14, 16]

In [ ]:
l_ej[1:4] = [1, 2, 3]
print(l_ej)

[100, 1, 2, 3, 10, 12, 14, 16]

**Ejercicio 1:** Cree una lista que contenga los números pares en el intervalo [1, 10]

In [ ]:
l_ejer = []

for i in range(1, 11):
  if i % 2 == 0:
    l_ejer.append(i)

print(l_ejer)

[2, 4, 6, 8, 10]

Podemos modificar el rango de manera que solo se itere sobre números pares:

In [ ]:
l_ejer = []

for i in range(2, 11, 2):
  l_ejer.append(i)

print(l_ejer)

[2, 4, 6, 8, 10]

**Ejercicio 2:** Solicite al usuario una palabra e imprima si esta es un palíndromo o no. (Un palíndromo es una palabra o frase que suena igual hacia adelante y hacia atrás)

In [ ]:
palabra = input("Ingrese una palabra: ")


if len(palabra) %2 == 0:
    es_palindromo=False
else:
    es_palindromo=True
    for i in range(len(palabra)):
        if palabra[i]!=palabra[len(palabra)-1-i]:
            es_palindromo=False
            break;

print("¿Es palindromo?: ",es_palindromo)

Ingrese una palabra: Ana
¿Es palindromo?:  False

In [ ]:
palabra=str(input("Ingrese una palabra "))

if palabra == palabra[ : :-1]:
    print("Es palindromo")
else:
    print ("No es palindromo")

ingrese una palabraAna
no es palindromo

In [ ]:
texto = input("Ingrese una palabra ")
texto_clean = texto.replace(' ', '').lower()

if texto_clean == texto_clean[ : :-1]:
    print("Es palindromo")
else:
    print ("No es palindromo")

Ingrese una palabraAnita lava la tina
es palindromo

**Ejercicio 3:** Dado el siguiente listado de alumnos de una clase

> 
    alumnos = ['Ana', 'Luis', 'Pedro', 'Marta', 'Nerea', 'Pablo']

Crear dos listas: una que contenga la primera letra de cada nombre y otra que contenga la última letra

In [ ]:
alumnos = ['Ana', 'Luis', 'Pedro', 'Marta', 'Nerea', 'Pablo']
primera = []
ultima = list()

for alumno in alumnos:
  primera.append(alumno[0])
  ultima.append(alumno[-1])

print(primera)
print(ultima)

['A', 'L', 'P', 'M', 'N', 'P']
['a', 's', 'o', 'a', 'a', 'o']

<p><a name="lpc"></a></p>

### **Listas por comprensión**

Las listas por comprensión son simplemente una forma de comprimir un ciclo de construcción de listas en una sola línea corta y legible. La sintáxis es de la forma

>  

    [expresion for var in secuencia if cond] 


donde *expresion* es cualquier expresión válida, *var* es la variable de iteración, *secuencia* es cualquier objeto de Python iterable, y *cond* es alguna condición que se imponga sobre la variable de iteración. Por ejemplo, para construir una lista con el cuadrado de los primeros 5 enteros positivos podríamos escribir lo siguiente:

In [ ]:
l = []
for i in range(1,6):
  l.append( i **2 )
print(l)

[1, 4, 9, 16, 25]

La lista por comprensión equivalente es la siguiente:

In [ ]:
l2 = [i ** 2 for i in range(1, 6)]
print(l2)

[1, 4, 9, 16, 25]

In [ ]:
l_imp = [i for i in range(1, 20, 2)]
print(l_imp)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Observe las equivalencias entre ambos bloques de código. Al igual que con muchas sentencias de Python, casi podemos leer el significado de esta sentencia: "construya una lista que consista en el cuadrado de `i` para cada `i` desde 1 hasta 5". 

A veces vamos a querer crear una lista no solo a partir de un valor, sino a partir de dos. Por ejemplo:

In [ ]:
L = []
for i in range(2):
  for j in range(2):
    L.append((i,j))
print(L)

[(0, 0), (0, 1), (1, 0), (1, 1)]

Este tipo de ciclos aninados se pueden incluir en una lista por comprensión simplemente añadiendo otro ciclo `for`:

In [ ]:
L_comp = [(i,j) for i in range(2) for j in range(2)]
print(L_comp)

[(0, 0), (0, 1), (1, 0), (1, 1)]

Podemos controlar aún más la iteración agregando un condicional al final de la expresión. Por ejemplo, podríamos escribir el ejemplo 1 con listas por comprensión de la siguiente manera:

In [ ]:
l_par = [i for i in range(2, 11, 2)]
print(l_par)

[2, 4, 6, 8, 10]

O alternativamente

In [ ]:
[i for i in range(1, 11) if i % 2 == 0]

[2, 4, 6, 8, 10]

Incluso podemos añadir las sentencias `if` y `else` para tener mayor control sobre los elementos de la lista. 

Por ejemplo, si quisieramos construir una lista con 10 elementos, tal que sus primeros cinco elementos sean los primeros cinco números enteros positivos, y que el resto de elementos sean el cuadrado de los enteros 6,7,8,9 y 10, prodríamos escribir:

In [ ]:
x = 5

y =200 if x == 0 else -30
print(x, y)

5 -30

In [ ]:
x = 0

y = 200 if x == 0 else -30
print(x, y)

0 200

In [ ]:
l_comp = []
for num in range(1,11):
  s = num if num < 6 else num ** 2
  l_comp.append(s)
print(l_comp)

[1, 2, 3, 4, 5, 36, 49, 64, 81, 100]

In [ ]:
l_comp = []
for num in range(1,11):
  if num < 6:
    l_comp.append(num)
  else:
    l_comp.append( num ** 2)
print(l_comp)

[1, 2, 3, 4, 5, 36, 49, 64, 81, 100]

In [ ]:
l = [i if i < 6 else i ** 2 for i in range(1,11)]
print(l)

[1, 2, 3, 4, 5, 36, 49, 64, 81, 100]

**Ejercicio 4:** Resuelva el ejercicio 3 utilizando listas por comprensión.

In [ ]:
primera=[]
ultima=[]
alumnos = ['Ana', 'Luis', 'Pedro', 'Marta', 'Nerea', 'Pablo']

[primera.append(alumno[0]) for alumno in alumnos]
[ultima.append(alumno[-1]) for alumno in alumnos]

[None, None, None, None, None, None]

In [ ]:
alumnos = ['Ana', 'Luis', 'Pedro', 'Marta', 'Nerea', 'Pablo']

primera = [alumno[0] for alumno in alumnos] 
ultima = [alumno[-1] for alumno in alumnos]

In [ ]:
nombres= ['Ana', 'Luis', 'Pedro', 'Marta', 'Nerea', 'Pablo']
pl=[]
ul=[]
pl,ul=([i[0] for i in nombres], [j[-1] for j in nombres])
print(pl,ul)

SyntaxError: ignored

In [ ]:
tuple(i for i in range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

<p><a name="tup"></a></p>

# **Tuplas**

Las tuplas son en muchos aspectos similares a las listas, pero se definen entre paréntesis en lugar de corchetes, o separando los elementos por una coma:

In [ ]:
tup = (1, 2)
print(tup)

(1, 2)

In [ ]:
type(tup)

tuple

O solo separando los elementos sin el paréntesis

In [ ]:
t = 4, 5, 6, 7, 8
print(t)
type(t)

(4, 5, 6, 7, 8)

tuple

Vemos que en Python las tuplas son un objeto de tipo `tuple`. Al igual que las listas, las tuplas tienen una noción de longitud y de orden, por lo que podremos indexar y segmentar estos objetos:

In [ ]:
t[2]

6

In [ ]:
t[2:5]

(6, 7, 8)

La principal característica distintiva de las tuplas es que son estructuras de datos inmutables, lo cual significa que una vez que se crean, no es posible modificar su tamaño y contenido. Si intentamos modificar un elemento de la tupla obtendremos un error:

In [ ]:
try:
  t[0] = 100
except Exception as e:
  print(e)

'tuple' object does not support item assignment

In [ ]:
t = 100, 5, 6, 7, 8
print(t)

(100, 5, 6, 7, 8)

**Unpacking**

Las tuplas cumplen una función doble: pueden usarse como listas inmutables y también para almacenar información sin una etiqueta explícita. Por ejemplo, supongamos que queremos almacenar la informacion de un punto en el plano cartesiano $(x,y)$. Podríamos tener esta información en una tupla, donde se usará la posición dentro de la tupla para referenciar los puntos

La forma más usada del *unpacking* es la asignación paralela, es decir, la asignación de elementos de un objeto iterable a una tupla de variables:

In [ ]:
coordenadas = (4, 5)

x, y = coordenadas
print(x)

4

In [ ]:
x = 15
print(x, y, coordenadas)

15 5 (4, 5)

Note que en esta expresión, ordenar la tupla destruiría la información ya que el significado de cada elemento está dado por su posición en la tupla. Esto funciona particularmente bien en las tuplas debido al mecanismo de *unpacking* de estos objetos. Veámoslo con un ejemplo:

Note que hemos asignado `("Carlos", 45, "Medellin")` a `nombre`, `edad` y `ciudad`, respectivamente, en una sola sentencia. A este tipo de procesos se hace referencia cuando se habla del mecanismo de *unpacking* de las tuplas. Por ejemplo, este es el mecanismo que nos permite definir múltiples variables en una sola sentencia

In [ ]:
nombre, edad , ciudad = ("Carlos", 45, "Medellin")

print(nombre)

Carlos

Este mecanismo también permite "desempaquetar" listas:

In [ ]:
x = [1, 2, 3]

x1,x2,x3 = x
print(x1,x2,x3)

1 2 3

In [ ]:
x2 = 7

print(x1, x2, x3, x)

1 7 3 [1, 2, 3]

Si, por ejemplo, solo queremos tomar una parte de la tupla, podemos utilizar una variable como `_` de la siguiente manera:

In [ ]:
codigo_postal = [('USA',21315), ('COL',15648),('BRA',48915)]

for pais, _ in codigo_postal:
  print(pais)

USA
COL
BRA

In [ ]:
print(_)

48915

Podemos bien pensar entonces en un conjunto de ordenadas de pais y código postal, si queremos obtener entonces los paises podemos iterar por ambos y extraer solo el pais

<p><a name="dic"></a></p>

# **Diccionarios**

Los diccionarios son mapeos extremadamente flexibles de claves a valores, y forman la base de gran parte de la implementación interna de Python. Se pueden crear mediante una lista separada por comas de pares `clave:valor` dentro de llaves:

In [ ]:
diccio = {'uno': 1, 'dos': 2, "tres": 3}
print(diccio)

{'uno': 1, 'dos': 2, 'tres': 3}

In [ ]:
type(diccio)

dict

a cada par `clave:valor` se le conoce como un *item*. 

Alternativamente, podemos crear un objeto tipo `dict` directamente con el constructor `dict`

In [ ]:
print(dict(uno = 1, dos = 2, tres = 3))

{'uno': 1, 'dos': 2, 'tres': 3}

Otra forma de construir diccionarios es pasarlo como una lista de tuplas ante el constructor 

```dict([(x,y),...,(a,b)])```

In [ ]:
print(dict([('uno', 1), ('dos', 2), ("tres", 3)]))

{'uno': 1, 'dos': 2, 'tres': 3}

Supongamos que queremos construir un diccionario a partir de `codigo_postal`

In [ ]:
print(codigo_postal)

[('USA', 21315), ('COL', 15648), ('BRA', 48915)]

donde las claves sean el país y los valores los códigos asociados. Utilizando el constructor `dict` esto se puede realizar fácilmente:

In [ ]:
dc = dict(codigo_postal)
print(dc)

{'USA': 21315, 'COL': 15648, 'BRA': 48915}

En el caso de la variable `codigos`

In [ ]:
codigos = [(86,'China'), (78, 'India'), (2,'Indonesia')]

esto no será posible debido a que que las posiciones de país y código están intercambiadas

In [ ]:
dict(codigos)

{2: 'Indonesia', 78: 'India', 86: 'China'}

Para construir el diccionario en la forma requerida, podemos construirlo como un "diccionario por comprensión" como `{i:j for i,j in expresion}`

In [ ]:
dc2 = {pais: codigo for codigo, pais in codigos}
print(dc2)

{'China': 86, 'India': 78, 'Indonesia': 2}

otro ejemplo, podemos construir las claves con cadenas f:

In [ ]:
{f'Clave{i}': i ** 2 for i in range(1,5)}

{'Clave1': 1, 'Clave2': 4, 'Clave3': 9, 'Clave4': 16}

A diferencia de los elementos dentro de una lista o tupla, los items del diccionario no tienen una noción de orden o posición.

In [ ]:
try:
  dc[2]
except :
  print("Los diccionarios no son ordenados")

Los diccionarios no son ordenados

Podemos acceder o definir un item del diccionario mediante la sintaxis de indexación utilizada para las listas y tuplas, excepto que el índice no es numérico sino una clave válida dentro del diccionario:

In [ ]:
print(diccio['uno'])
print(diccio)

1
{'uno': 1, 'dos': 2, 'tres': 3}

Podemos incluso pasarle un nuevo `key` a nuestro diccionario, y asignarle un valo

In [ ]:
diccio['cuatro'] = 4
print(diccio)

{'uno': 1, 'dos': 2, 'tres': 3, 'cuatro': 4}

In [ ]:
diccio['uno'] = 0.99999999999
print(diccio)

{'uno': 0.99999999999, 'dos': 2, 'tres': 3, 'cuatro': 4}

Al igual que con las listas y tuplas, podemos crear diccionarios vacios para luego agregarles las tuplas `(clave:valor)`

In [ ]:
dc_empty = {}

Tenga en cuenta que las claves son únicas dentro de un diccionario, mientras que los valores pueden no serlo. Los valores de un diccionario pueden ser de cualquier tipo, pero las claves deben ser de un tipo de dato inmutable, como cadenas, números o tuplas. De manera que podemos construir estructuras más complejas como la siguiente:

In [ ]:
dicc = {"nombres": ["Daniel", "Camila", "Julian"], "edades": [22, 28, 19]}
print(dicc)

{'nombres': ['Daniel', 'Camila', 'Julian'], 'edades': [22, 28, 19]}

En este caso vamos a acceder a los diferentes elementos del diccionario individualmente o al *item* completo si así lo necesitamos. Esto se puede realizar utilizando los métodos `keys`, `values` y `items`, respectivamente.

In [ ]:
dicc.keys()

dict_keys(['nombres', 'edades'])

In [ ]:
dicc.values()

dict_values([['Daniel', 'Camila', 'Julian'], [22, 28, 19]])

In [ ]:
dicc.items()

dict_items([('nombres', ['Daniel', 'Camila', 'Julian']), ('edades', [22, 28, 19])])

Podemos utilizar estos métodos para iterar sobre alguno de los elementos

In [ ]:
for i in dicc.keys():
  print(i)

nombres
edades

Note que por defecto, si iteramos sobre el diccionario, estaremos iterando sobre las claves, por lo que en este caso no hay necesidad de utilizar el método `keys`

In [ ]:
for i in dicc:
  print(i)

nombres
edades

In [ ]:
for i in dicc.values():
  print(i)

['Daniel', 'Camila', 'Julian']
[22, 28, 19]

In [ ]:
for clave, valor in dicc.items():
  print(clave, valor)

nombres ['Daniel', 'Camila', 'Julian']
edades [22, 28, 19]

**Ejercicio 5:** Dado el diccionario

> 
    notas = {'Ana':9, 'Luis':7, 'Pedro':2, 'Marta':5, 'Nerea':4, 'Pablo':6}

  1) cree una lista que contenga notas mayores o iguales a 5.

  2) cree una lista que contenga los nombres de los estudiantes que contengan la letra "a".

  3) cree una lista que contenga los nombres de los estudiantes que aprobaron (nota >= 5)

**Ejercicio 6:** Dada la siguiente lista, itere sobre ella y cuente la aparición de cada elemento y cree un diccionario para mostrar el recuento de cada elemento

> 
    Lista = [11, 45, 8, 11, 23, 45, 23, 45, 89]